<% fillings = ["Carnitas", "Al pastor", "st","fish", "veggies"]
%>



<h1> love tacos </h1>
<ul>

     
    <%    for filling in fillings   %>
            <li> <%= filling %> </li>

            <%  end %>ra
  

    
</ul>

<!-- commenting -->
<%
#commenting again
%>

<p> Currently <%= fillings.size %> kind of tacos